header, section, footer, aside, nav, article, figure {
	display: block;
	}
	
body {
	color: #090165;
	background-image: url("../images/pattern_147.gif"); 
	background-position: center; 
	font-family: 'Sirin Stencil', cursive;
	line-height: 1.4em; 
	margin: 0px;
    }
    
.wrapper {
	width: 940px;
	margin: 20px auto 20px auto;
	border: 6px ridge #338833;
	background-color: #9AD5FF;
	}

header {
	height: 110px;
	background: linear-gradient(to bottom, #fcecfc 0%,#fba6e1 47%,#fd89d7 72%,#ff7cd8 92%);
	}
	
h1 {
	color: #AF4DFF;
	font: oblique bolder 'Sirin Stencil', cursive;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2em;
	width: 940px;
	height: 60px;
	margin: 0px;
	padding: 2px;
	}

h2 {
	color: #E831B2;
	font: small-caps bold 2em 'Sirin Stencil', cursive;
	text-shadow: -5px -5px 12px #AF4DFF;
	text-align: center; 
	}
	
h3 {
	color: #AF4DFF;
	font: small-caps bold 2em 'Sirin Stencil', cursive;
	text-shadow: 4px 4px 14px #E831B2;
	text-align: center;	
	}
	
nav, footer {
	clear: both;
	background: linear-gradient(to top, #fceabb 0%,#fcc850 65%);
	border: 0.5em groove #0E1CE8;
	border-radius: 0.625em;
	color: #090165;
	height: 40px;
	}
	
footer {
	font-size: 80%;
	padding: 5px 0px 0px 20px;
	}

nav ul {
	text-align: center;
	margin: 0px;
	padding: 5px 0px 5px 30px;
	}
	
nav li {
	display: inline;
	margin-right: 40px;
	}
	
nav li a:active {
    color: #FF1493;
	} 

nav li a:hover, nav li a:link {
	color: #A734FF;
	}

p, ol  {
	color: #090165;
	font: 1em 'Sirin Stencil', cursive;
	list-style-type: upper-roman; 
	}
	
section.content {
	float: left;
	width: 659px;
	padding: 0px 0px 0px 20px;
	border-right: 2px dashed #338833;
	}

article {
	clear: both;
	overflow: auto;
	width: 100%;
	}
	
figure {
	float: left;
	width: 180px;
	height: 200px;
	padding: 5px;
	margin: 20px;
	border: 1px solid #338833;
	}

aside {
	width: 230px;
	float: left;
	padding: 0px 0px 0px 20px;
	}
	
aside h2 {
	padding: 30px 0px 10px 0px;
	}

table {
	width: 60px;
	}
	
th, td {
	padding: 3px 6px 6px 6px;
	}
	
th {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 80%;
	border-bottom: 2px solid #111111;
	border-top: 1px solid #999;
	text-align: left;
	}
	
tr.even {
	background-color: #C3E6E5;
	}

tr:hover {
	background-color: #fd89d7;
	}

a:link {
    color: #A734FF;
    text-decoration: none;
	}

a:visited {
    color: #000000;
	}

a:hover {
    color: #A734FF;
    text-decoration: underline;
	}

a:active {
    color: #FF1493;
	}